body {
	font-size: 16px;
	text-align: center;
	color: #003c2f;
}
* {
	font-family: 'Gellix', sans-serif;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
h1 {
	font-size: 3.5rem;
	width: 600px;
	margin: 0 auto;
	margin-top: 140px;
}
h2 {
	font-size: 2.75rem;
}
h4 {
	margin: 64px 0 16px;
	font-size: 2rem;
}
h5 {
	margin: 0;
	font-size: 1.4rem;
}
p {
	color: #708977;
	font-weight: 500;
	margin-bottom: 20px;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: #e4e9e5;
}

.button {
	background-color: #22ad01;
	border: none;
	color: white;
	border-radius: 36px;
	font-weight: 500;
	cursor: pointer;
}

.button:hover {
	background-color: #2bb90a;
}

.link {
	color: #23ad02;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: #22ad02;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}

.link:hover {
	text-decoration: none;
}

.nav-bar {
	background-color: #fff;
	width: 100vw;
	height: 64px;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	padding: 12px 120px;
	display: flex;
	align-items: center;
	box-shadow: 5px 0 20px -3px rgba(0, 0, 0, 0.4);
}

.nav-bar > a {
	display: flex;
	align-items: center;
}

.nav-items {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 60px;
}

.nav-items .nav-sub-items:first-child *:hover {
	color: #5ec245;
}

.nav-sub-items {
	display: flex;
	align-items: center;
	font-weight: 500;
}

.nav-sub-items .button {
	padding: 10px 18px;
}

.nav-sub-items *:hover {
	cursor: pointer;
}

ul.nav-sub-items {
	color: #65816d;
	gap: 32px;
}

div.nav-sub-items {
	gap: 18px;
	margin-right: 24px;
}

.nav-sub-items div a {
	color: #16453a;
}

.plan-intervals {
	display: flex;
	gap: 20px;
	width: 290px;
	margin: 40px auto 100px;
	background-color: #f0f5f0;
	border-radius: 50px;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 500;
	cursor: pointer;
}

#monthly {
	color: #22564a;
	padding-left: 30px;
}

.chosen-interval {
	background-color: #003c2f;
	height: 100%;
	width: 100%;
	border-radius: 50px;
	padding: 15px;
}

#yearly {
	display: flex;
	align-items: center;
	color: white;
	display: flex;
	justify-content: space-around;
}

.yearly-subtext {
	font-size: 0.6rem;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #fff;
	color: #22ad01;
	font-weight: 700;
}

.plans {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
}

.plan-card {
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	width: 350px;
	height: auto;
	background-color: #fff;
	position: relative;
	padding: 0 32px;
}

.plan-best {
	position: absolute;
	top: -5%;
	left: -2%;
	width: 104%;
	height: 106%;
	border-radius: 15px;
	background-color: #ee8146;
	z-index: -1;
}

.plan-card:nth-child(2) {
	box-shadow: none;
}

.plan-card .separator {
	margin: 30px 0;
}

.plan-card:last-child .plan-info {
	width: 100%;
}

.plan-best p {
	font-size: 0.9rem;
	font-weight: 600;
	color: #fff;
	margin: 0;
	margin-top: 5px;
}

.price-part {
	margin: 16px 0;
	font-weight: 700;
}

.price {
	font-size: 2rem;
	margin: 0 3px;
}

.per-month {
	color: #b2c0b6;
}

.plan-card .button {
	padding: 16px 56px;
}

.subtext {
	color: #748e7c;
	font-size: 0.85rem;
	font-weight: 500;
	padding: 0 20px;
	margin-top: 20;
}

.plan-info {
	text-align: left;
	width: 90%;
	margin: 0 auto;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.plan-info li {
	display: flex;
	align-items: center;
	gap: 20px;
}

.plan-info li:nth-child(3),
.plan-info li:nth-child(6) {
	align-items: flex-start;
}

.plan-info li > div {
	position: relative;
	top: -5px;
	margin-bottom: -10px;
}

.plan-info-subtext {
	margin-top: 4px;
	color: #879d8e;
}

.plan-card .button:last-child {
	margin: 40px;
}

.addons-section {
	width: 1100px;
	margin: 120px auto;
}

.addons {
	display: flex;
	gap: 35px;
}

.addons-card {
	position: relative;
	border: 1px solid #d3dcd4;
	border-radius: 25px;
	height: 350px;
	padding: 50px 42px;
	text-align: left;
}

.addons-card .price-part {
	position: absolute;
	bottom: 25px;
	right: 40px;
}

.addons-card .per-month {
	color: #808080;
}

.faq-section {
	position: relative;
	overflow: hidden;
	text-align: left;
	width: 1100px;
	margin: 0 auto;
}

.branch-img {
	position: absolute;
	width: 800px;
	height: 600px;
	background: no-repeat
		url('https://assets-global.website-files.com/635ac9564cc3682ce1536786/63d94c7a62e51410f00e2adc_Branch_3-p-1080.png');
}

.faq-items {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

.faq-items li {
	width: 631px;
}

.faq-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.rotated {
	transform: rotate(180deg);
}
